/* Variables */

:root {
  --basic-white: #ffffff;
  --white-text: rgba(255,255,255, 0.3);
  --beige-index: #f9f5f0;
  --beige-catalog: #f7f3ec;
  --ligh-grey-catalog: #f2f6f8;
  --grey-background-header: #f3f7f9;
  --grey-card-border: #eaeaea;
  --grey-button-border: #e5e5e5;
  --grey-services: #f1f5f7;
  --grey-icon-phone: #b7bfc8;
  --grey-checkbox-and-icon: #c5c5c5;
  --grey-breadcrumbs: #c1c6ce;
  --grey-range: #d7dcde;
  --grey-filter-price: #ababab;
  --grey-del: #a9a9a9;
  --grey-menu-slider: rgba(0, 0, 0, 0.25);
  --blue: #3bbce3;
  --dark-blue: #32425c;
  --darker-blue: #293449;
  --extra-dark-blue: #212a3a;
  --focus-blue: #1d2739;
  --focus-dark: #161d29;
  --basic-black: #000000;
  --yellow-menu: #ffd180;
  --yellow-materials: #ffbf47;
  --yellow-delivery: #ffc047;
  --light-green: #8ed78f;
  --bright-green: #5fbb2d;
  --basic-green: #63a63e;
  --dark-green: #518534;
  --basic-pink: #dc91d8;
  --basic-red: #ee3643;
  --darker-red: #ca2c37;
  --dark-red: #ba2732;
  --bright-red: #ff5357;
  --cuprum-weight: 400;
}

/* Global */

body {
  min-width: 940px;
  margin: 0;
  padding: 0;
  font-family: "Cuprum", Arial, sans-serif;
  background-color: var(--basic-white);
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0px;
  padding: 0px;
  overflow: hidden;
  clip: rect(0 0 0 0);
}

/* main-header */

.main-header {
  background-color: var(--grey-background-header);
}

.header-wrapper {
  background-color: var(--darker-blue);
}

.wrapper {
  width: 940px;
}

.header__logo-link, .footer__logo-link {
  background-color: var(--basic-red);
}

.header__logo-link:focus {
  background-color: var(--dark-red);
}

.header-menu__list {
  list-style: none;
  padding: 0;

}
input[type="search"] {
  background-color: var(--darker-blue);
  border: none;
}

input[type="search"]:focus {
  background-color: var(--basic-white);
  color: var(--basic-black);
}

.menu-list__item, .menu-item__link, .nav-item__link{
  font-size: 18px;
  line-height: 24px;
  font-weight: var(--cuprum-weight);
  color: var(--basic-white);
}

.menu-item__link--checkout {
  background-color: var(--basic-green);
}

.menu-item__link--checkout:hover {
  background-color: var(--bright-green);
}

.menu-item__link--marks:focus, .menu-item__link--cart:focus {
  background-color: var(--focus-dark);
  opacity: 0.5;

}
.menu-item__link--checkout:focus {
  opacity: 0.5;
}

.info__text {
  font-size: 16px;
  line-height: 23px;
  font-weight: var(--cuprum-weight);
  color: var(--basic-red);
}

.info__tel {
  font-size: 21px;
  line-height: 30px;
  font-weight: 700;
  color: var(--basic-red);
  border: 3px solid var(--basic-white);
}

.info__address {
  font-size: 14px;
  line-height: 24px;
  font-weight: var(--cuprum-weight);
  color: var(--dark-blue);
}

.user__menu {
  list-style: none;
}

.user__link {
  font-size: 16px;
  line-height: 18px;
  font-weight: var(--cuprum-weight);
  color: var(--dark-blue);
}

.account__link, .user__link--name {
  font-size: 21px;
  line-height: 21px;
  font-weight: var(--cuprum-weight);
  color: var(--basic-black);
  background-color: var(--basic-white);
}

.account__link:hover, .user__link--orders:hover, .user__link--account:hover {
  color: var(--basic-red);
}

.account__link:focus, .user__link:focus {
  color: var(--grey-checkbox-and-icon);
}

.header__nav {
  background-color: var(--dark-blue);
}

.nav-item__link:hover {
  background-color: var(--darker-blue);
}

.nav-item__link:focus {
  opacity: 0.5;
  background-color: var(--focus-blue);
}

.nav__list {
  list-style: none;
  padding: 0;
}


/* index site-menu */

.site-menu__list {
  list-style: none;
  padding: 0;
}

.site-menu__item--materials {
  background-color: var(--yellow-materials);
}

.site-menu__item--instrument {
  background-color: var(--blue);
}

.site-menu__item--technics {
  background-color: var(--basic-pink);
}

.site-menu__item--discount{
  background-color: var(--light-green);
}

.site-menu__item--delivery {
  background-color: var(--yellow-delivery);
}

.site-menu__item {
  width: 300px;
  font-size: 24px;
  line-height: 30px;
  font-weight: 700;
  color: var(--basic-white);
}

.link {
  font-size: 14px;
  line-height: 18px;
  color: var(--basic-white);
  text-transform: uppercase;
}

.site-menu__link {
  background-color: var(--white-text);
}

.site-menu__link:hover {
  background-color: var(--grey-checkbox-and-icon);
  opacity: 0.3;
}

.site-menu__link:focus {
  background-color: var(--grey-del);
  opacity: 0.3;
}

.button-link{
  background-color: var(--basic-red);
}

.button-link:hover, .services__link:hover {
  background-color: var(--darker-red);
}

.button-link:focus, .services__link:focus{
  background-color: var(--dark-red);
}

/* index popular-products, popular-brands */

.popular-products, .popular-brands {
  width: 940px;
}

.popular-products__heading-wrapper, .popular-brands__heading-wrapper {
  background-color: var(--beige-index);
}

.popular-products__heading, .popular-brands__heading {
  font-size: 30px;
  line-height: 30px;
  font-weight: var(--cuprum-weight);
  color: var(--dark-blue);
}

.popular-products__list, .popular-brands__list, .catalog-products__list {
  list-style: none;
  padding: 0;
}

.products__item, .brands__item, .catalog-products__item {
  width: 218px;
  border: 1px solid var(--grey-card-border);
}

.product__name a, .catalog-product__name a {
  font-family: "PT Sans", Arial, sans-serif;
  font-size: 18px;
  line-height: 20px;
  font-weight: 700;
  color: var(--basic-black);
  text-align: center;
}

.product-price {
  font-family: "PT Sans", Arial, sans-serif;
  font-size: 17px;
  line-height: 18px;
  font-weight: 700;
  text-align: center;
}

del {
  color: var(--grey-del);
}

ins {
  color: var(--basic-white);
  background-color: var(--basic-red);
  text-decoration: none;

}

.product__action {
  font-size: 14px;
  line-height: 18px;
  font-weight: var(--cuprum-weight);
  text-align: center;

}

.product__action--buy {
  background-color: var(--basic-green);
  color: var(--basic-white);
}

.product__action--buy:hover {
  background-color: var(--bright-green);
}

.product__action--buy:focus {
  background-color: var(--dark-green);
}

.product__action--add-to-bookmarks {
  border: 3px solid var(--basic-green);
  color: var(--dark-blue);
}

.product__action--add-to-bookmarks:hover {
  border: 3px solid var(--dark-blue);
}

.product__action--add-to-bookmarks:focus {
  border: 3px solid var(--dark-blue);
  opacity: 0.5;
}

/* services, about-products */

.services, .about-products {
  background-color: var(--grey-services);
}

.services__link {
  background-color: var(--bright-red);
}

.services__heading, .service-slider__heading, .about-products__heading, .catalog-page__heading {
  font-size: 30px;
  line-height: 30px;
  font-weight: var(--cuprum-weight);
}

.services__heading, .about-products__heading {
  color: var(--basic-black);
}

.service-slider__heading, .catalog-page__heading {
  color: var(--dark-blue);
}

.catalog-page__heading {
  background-color: var(--ligh-grey-catalog);
}

.services__list {
  list-style: none;
  padding: 0;
}

.services__button {
  display: none;
}

.services__text, .service-slider__text, .about-products__text {
  font-family: "PT Sans", Arial, sans-serif;
  font-size: 13px;
  line-height: 24px;
  font-weight: var(--cuprum-weight);
  color: var(--basic-black);
}

.services-list__item {
  font-size: 21px;
  line-height: 30px;
  font-weight: 700;
  width: 240px;
  background-color: var(--dark-blue);
  color: var(--basic-white);
  text-align: left;
}

.services-list__item:hover {
  background-color: var(--darker-blue);
}

.services-list__item:focus {
  background-color: var(--basic-white);
  color: var(--dark-blue);
}


/* about-company, contacts */

.about-company__heading, .contacts__heading {
  font-size: 30px;
  line-height: 30px;
  font-weight: var(--cuprum-weight);
  color: var(--basic-black);
  text-transform: uppercase;

}

.about-company__text, .contacts__text {
  font-family: "PT Sans", Arial, sans-serif;
  font-size: 13px;
  line-height: 24px;
  font-weight: var(--cuprum-weight);
  color: var(--basic-black);
}

.about-company__delivery-list {
  list-style: none;
  padding: 0px;
}

.delivery-list__item {
  font-size: 18px;
  line-height: 24px;
  font-weight: var(--cuprum-weight);
  color: var(--basic-black);
  position: relative;
}

.delivery-list__item::before {
  content: "";
  position: absolute;
  width: 25px;
  height: 2px;
  background-color: var(--basic-red);
  margin-top: 10px;
}

/* breadcrumbs, sorting, filter, pagination */

.breadcrumbs__list, .sorting__list, .catalog-brands__list, .product-type__list {
  list-style: none;
  padding: 0;
}

.breadcrumbs__item, .breadcrumbs__link, .page__number, .sorting__heading, .sorting__link {
  font-family: "PT Sans", Arial, sans-serif;
  font-size: 13px;
  line-height: 18px;
  font-weight: var(--cuprum-weight);
  color: var(--basic-black);
  text-transform: uppercase;
}

.sorting__wrapper {
  background-color: var(--beige-catalog);
  width: 700px;
}

.sorting__link {
  opacity: 0.3;
  text-decoration: underline;
  text-decoration-style: dotted;
  text-decoration-color: var(--basic-red);
}

.sorting__link:hover {
  color: var(--basic-black);
  opacity: 1;
  text-decoration: underline;
  text-decoration-style: solid;
  text-decoration-color: var(--basic-red);
}

.sorting__link:focus {
  color: var(--basic-red);
  text-decoration: none;
}

.catalog__filter {
  width: 220px;
  border: none;
}

.filter__item {
  border: none;
}

.filter__item--brands {
 border-top: 1px solid var(--grey-button-border);
 border-bottom: 1px solid var(--grey-button-border);
}

.form__heading, .filter-price-wrapper {
  background-color: var(--beige-catalog);
}

.filter__heading {
  font-family: "PT Sans", Arial, sans-serif;
  font-size: 17px;
  line-height: 30px;
  font-weight: 700;
  color: var(--basic-black);
  text-transform: uppercase;
}

.min-price, .max-price {
  font-family: "PT Sans", Arial, sans-serif;
  font-size: 17px;
  line-height: 18px;
  font-weight: var(--cuprum-weight);
  color: var(--basic-black);
  text-align: center;
}

.filter__button {
  font-family: "PT Sans", Arial, sans-serif;
  font-size: 13px;
  line-height: 18px;
  font-weight: var(--cuprum-weight);
  color: var(--basic-black);
  text-transform: uppercase;
  text-align: center;
  width: 220px;
  border: 1px solid var(--grey-button-border);
  background-color: var(--basic-white);
}

.catalog-brands__item, .product-type__item {
  font-family: "PT Sans", Arial, sans-serif;
  font-size: 15px;
  line-height: 19px;
  font-weight: var(--cuprum-weight);
  color: var(--basic-black);
  text-transform: uppercase;
}


.page__number {
  border: 1px solid var(--grey-button-border);
  text-align: center;
}

.page__number:hover {
  border: 1px solid var(--grey-checkbox-and-icon);
}

.page__number:focus {
  border: 1px solid var(--basic-red);
}

.page__number:active {
  background-color: var(--basic-red);
}


/* footer */

.main-footer__content {
  background-color: var(--dark-blue);
}

.footer__logo {
  background-color: var(--basic-red);
}

.footer-nav, .footer-menu__list {
  list-style: none;
  padding: 0;
}

.footer-nav__link,
.footer-menu__link,
.footer__address,
.footer__link--tel {
  font-size: 18px;
  line-height: 24px;
  font-weight: var(--cuprum-weight);
  color: var(--grey-services);
}

.footer-nav__link {
  color: var(--grey-services);
}

.footer-menu__link {
  color: var(--yellow-menu);
}

.footer-nav__link:hover,
.footer-menu__link:hover,
.feedback__link:hover,
.developed__link:hover {
  text-decoration: underline;
}

.footer-nav__link:focus,
.footer-menu__link:focus {
  text-decoration: none;
  opacity: 0.5;
}

.main-footer__copy {
  background-color: var(--darker-blue);
}

.copy__text, .copy__feedback, .copy__developed {
  font-size: 16px;
  line-height: 18px;
  font-weight: var(--cuprum-weight);
  color: var(--basic-white);
}

.socials__list {
  list-style: none;
}

.socials__link {
  width: 44px;
  height: 44px;
  border-radius: 50%;
  background-color: var(--extra-dark-blue);
}

.socials__link:hover,
.socials__link:focus {
  background-color: var(--basic-red);
}

.feedback__link, .developed__link {
  color: var(--yellow-menu);
}

.feedback__link:focus,
.developed__link:focus {
  text-decoration: none;
  color: var(--basic-red);
}
