/* Variables */

:root {
  --basic-white: #ffffff;
  --white-text: rgba(255,255,255, 0.3);
  --beige-index: #f9f5f0;
  --beige-catalog: #f7f3ec;
  --ligh-grey-catalog: #f2f6f8;
  --grey-background-header: #f3f7f9;
  --grey-card-border: #eaeaea;
  --grey-button-border: #e5e5e5;
  --grey-services: #f1f5f7;
  --grey-icon-phone: #b7bfc8;
  --grey-checkbox-and-icon: #c5c5c5;
  --grey-breadcrumbs: #c1c6ce;
  --grey-range: #d7dcde;
  --grey-filter-price: #ababab;
  --grey-del: #a9a9a9;
  --grey-menu-slider: rgba(0, 0, 0, 0.25);
  --blue: #3bbce3;
  --dark-blue: #32425c;
  --darker-blue: #293449;
  --extra-dark-blue: #212a3a;
  --focus-blue: #1d2739;
  --focus-dark: #161d29;
  --basic-black: #000000;
  --yellow-menu: #ffd180;
  --yellow-materials: #ffbf47;
  --yellow-delivery: #ffc047;
  --light-green: #8ed78f;
  --bright-green: #5fbb2d;
  --basic-green: #63a63e;
  --dark-green: #518534;
  --basic-pink: #dc91d8;
  --basic-red: #ee3643;
  --darker-red: #ca2c37;
  --dark-red: #ba2732;
  --bright-red: #ff5357;
  --cuprum-weight: 400;
}

/* Global */

body {
  min-width: 940px;
  margin: 0;
  padding: 0;
  font-family: "Cuprum", Arial, sans-serif;
  background-color: var(--basic-white);
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0px;
  padding: 0px;
  overflow: hidden;
  clip: rect(0 0 0 0);
}

.page {
  height: 100%;
}

.page-body {
  min-height: 100%;
  display: grid;
  grid-template-rows: min-content 1fr min-content;
  align-content: start;
  margin: 0 auto;
}

/* main-header */

.main-header {
  background-color: var(--grey-background-header);
  padding-bottom: 50px;
}

.header-wrapper {
  background-color: var(--darker-blue);
}

.header__menu-wrapper {
  width: 940px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: min-content 1fr;
  gap: 30px;
}

.header__logo-link {
  background-color: var(--basic-red);
  width: 220px;
}

.header__logo-link:focus {
  background-color: var(--dark-red);
}

.header-menu__list {
  list-style: none;
  padding: 0;
  display: flex;
  justify-content: space-between;
}

input[type="search"] {
  background-color: var(--darker-blue);
  border: none;
}

input[type="search"]:focus {
  background-color: var(--basic-white);
  color: var(--basic-black);
}

.menu-list__item, .menu-item__link {
  font-size: 18px;
  line-height: 24px;
  font-weight: var(--cuprum-weight);
  color: var(--basic-white);
}

.menu-item__link--checkout {
  background-color: var(--basic-green);
  padding: 18px;
}

.menu-item__link--checkout:hover {
  background-color: var(--bright-green);
}

.menu-item__link--marks:focus, .menu-item__link--cart:focus {
  background-color: var(--focus-dark);
  opacity: 0.5;

}
.menu-item__link--checkout:focus {
  opacity: 0.5;
}

.header__info-wrapper {
  width: 940px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: min-content min-content min-content;
  gap: 90px;
  padding-top: 50px;
  padding-bottom: 50px;
}

.info__text {
  width: 197px;
  font-size: 16px;
  line-height: 23px;
  font-weight: var(--cuprum-weight);
  color: var(--basic-red);
}

.info__contacts-wrapper {
  width: 270px;
  display: flex;
  flex-direction: column;
}

.info__tel {
  font-size: 21px;
  line-height: 30px;
  font-weight: 700;
  color: var(--basic-red);
  border: 3px solid var(--basic-white);
  text-align: center;
  padding-top: 5px;
  padding-bottom: 5px;

}

.info__address {
  font-size: 14px;
  line-height: 24px;
  font-weight: var(--cuprum-weight);
  color: var(--dark-blue);
  margin-top: 0px;
  text-align: center;
}

.header__nav {
  background-color: var(--dark-blue);
  width: 940px;
  margin: 0 auto;
  display: grid;
}

.nav-item__link {
  font-size: 18px;
  line-height: 24px;
  font-weight: var(--cuprum-weight);
  color: var(--basic-white);
  padding: 16px;
}

.nav-item__link:hover {
  background-color: var(--darker-blue);

}

.nav-item__link:focus {
  opacity: 0.5;
  background-color: var(--focus-blue);
}

.nav__list {
  list-style: none;
  padding: 0;
  display: flex;
  justify-content: space-around;
}

/* index account-menu */

.header__account-wrapper {
  display: flex;
  width: 270px;
  justify-content: center;
  height: 45px;
}

.account__link--login {
  width: 120px;
  padding: 10px 5px;
  margin-right: 20px;
}

.account__link--registration {
  width: 150px;
  padding: 10px 5px;
}

.account__link {
  font-size: 21px;
  line-height: 21px;
  font-weight: var(--cuprum-weight);
  color: var(--basic-black);
  text-align: center;
  background-color: var(--basic-white);
}

.account__link:hover {
  color: var(--basic-red);
}

.account__link:focus {
  color: var(--grey-checkbox-and-icon);
}

/* catalog user-menu */

.info__user-wrapper {
  display: grid;
  grid-template-rows: min-content min-content;
  width: 293px;
}

.user__menu {
  list-style: none;
  display: flex;
  justify-content: space-around;
  padding: 0px;
  margin: 0px;
}

.user__link {
  font-size: 16px;
  line-height: 18px;
  font-weight: var(--cuprum-weight);
  color: var(--dark-blue);
}

.user__link--orders {
  position: relative;
}

.user__link--orders::after {
  content: "";
  position: absolute;
  width: 5px;
  height: 5px;
  background-color: var(--dark-blue);
  border-radius: 50%;
  bottom: 5px;
  left: 100px;
}

.user__link--name {
  font-size: 21px;
  line-height: 21px;
  font-weight: var(--cuprum-weight);
  color: var(--basic-black);
  text-align: center;
  background-color: var(--basic-white);
  padding: 10px 35px;
}

.user__link--orders:hover, .user__link--account:hover {
  color: var(--basic-red);
}

.user__link:focus {
  color: var(--grey-checkbox-and-icon);
}

/* index site-menu */

.site-menu__list {
  list-style: none;
  padding: 0;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  gap: 20px;
  width: 940px;
  margin: 0 auto;
}

.site-menu__item--materials {
  background-color: var(--yellow-materials);
}

.site-menu__item--instrument {
  background-color: var(--blue);
  grid-column-start: 2;
  grid-column-end: 3;
  grid-row-start: 1;
  grid-row-end: 2;
}

.site-menu__item--technics {
  background-color: var(--basic-pink);
}

.site-menu__item--discount{
  background-color: var(--light-green);
  grid-column-start: 3;
  grid-column-end: 4;
}

.site-menu__item--delivery {
  background-color: var(--yellow-delivery);
  grid-column-start: 3;
  grid-column-end: 4;
}

.site-menu__item {
  font-size: 24px;
  line-height: 30px;
  font-weight: 700;
  color: var(--basic-white);
  width: 277px;
  height: 125px;
  display: flex;
  flex-direction: column;
  padding-left: 23px;
  padding-top: 20px;
}

.link {
  font-size: 14px;
  line-height: 18px;
  color: var(--basic-white);
  text-transform: uppercase;
}

.site-menu__link {
  background-color: var(--white-text);
  padding: 10px 20px;
  width: 95px;
  text-align: center;
  margin-top: 25px;
}

.site-menu__link:hover {
  background-color: var(--grey-checkbox-and-icon);
  opacity: 0.3;
}

.site-menu__link:focus {
  background-color: var(--grey-del);
  opacity: 0.3;
}

/* index popular-products */

.popular-products {
  display: grid;
  grid-template-rows: auto auto;
  width: 940px;
  margin: 0 auto;
}

.popular-products__heading-wrapper {
  background-color: var(--beige-index);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: 20px;
  padding-right: 20px;

}

.popular-products__heading {
  font-size: 30px;
  line-height: 30px;
  font-weight: var(--cuprum-weight);
  color: var(--dark-blue);
  text-transform: uppercase;
}

.popular-products__link {
  text-align: center;
  padding: 10px 25px;
}

.popular-products__list {
  list-style: none;
  padding: 0;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 20px;
}

.products__item {
  border: 1px solid var(--grey-card-border);
}

.product__card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 318px;
  margin: 0 auto;
}

.product__name {
  text-align: center;
  padding-left: 30px;
  padding-right: 30px;
}

.product__name a {
  font-family: "PT Sans", Arial, sans-serif;
  font-size: 18px;
  line-height: 20px;
  font-weight: 700;
  color: var(--basic-black);
}

.product-price {
  font-family: "PT Sans", Arial, sans-serif;
  font-size: 17px;
  line-height: 18px;
  font-weight: 700;
  text-align: center;
}

del {
  color: var(--grey-del);
}

ins {
  color: var(--basic-white);
  background-color: var(--basic-red);
  text-decoration: none;
  padding: 9px 30px;
  position: relative;
}

ins::after {
  position: absolute;
  content: "";
  background-color: transparent;
  width: 0px;
  height: 0px;
  border-right: 26px solid var(--basic-red);
  border-bottom: 26px solid var(--basic-red);
  transform: rotate(-45deg);
  left: 113px;
  bottom: 5px;
}

.product__actions-wrapper {
  display: none;
}

.product__action {
  font-size: 14px;
  line-height: 18px;
  font-weight: var(--cuprum-weight);
  text-align: center;

}

.product__action--buy {
  background-color: var(--basic-green);
  color: var(--basic-white);
}

.product__action--buy:hover {
  background-color: var(--bright-green);
}

.product__action--buy:focus {
  background-color: var(--dark-green);
}

.product__action--add-to-bookmarks {
  border: 3px solid var(--basic-green);
  color: var(--dark-blue);
}

.product__action--add-to-bookmarks:hover {
  border: 3px solid var(--dark-blue);
}

.product__action--add-to-bookmarks:focus {
  border: 3px solid var(--dark-blue);
  opacity: 0.5;
}

/*  index popular-brands */

.popular-brands {
  display: grid;
  grid-template-rows: auto auto;
  width: 940px;
  margin: 0 auto;
}

.popular-brands__heading-wrapper {
  background-color: var(--beige-index);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: 20px;
  padding-right: 20px;
}

.popular-brands__heading {
  font-size: 30px;
  line-height: 30px;
  font-weight: var(--cuprum-weight);
  color: var(--dark-blue);
  text-transform: uppercase;
}

.popular-brands__link {
  text-align: center;
  padding: 10px 25px;
}

.popular-brands__list {
  list-style: none;
  padding: 0;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 20px;
}

.brands__item {
  height: 145px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid var(--grey-card-border);
}


/*  index services */

.services {
  background-color: var(--grey-services);
  padding: 50px 0px;
}

.services-wrapper {
  width: 940px;
  margin: 0 auto;
  grid-template-rows: 1fr 1fr;

}
.services__link {
  background-color: var(--bright-red);
}

.services__heading, .service-slider__heading {
  font-size: 30px;
  line-height: 30px;
  font-weight: var(--cuprum-weight);
  text-transform: uppercase;
}

.services__heading {
  color: var(--basic-black);
}

.service-slider__heading {
  color: var(--dark-blue);
}


.services-list-wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 100px;
}

.services__list {
  list-style: none;
  padding: 0;
  width: 220px;
}

.services__button {
  display: none;
}

.services__text {
  width: 400px;
}

.services__text, .service-slider__text {
  font-family: "PT Sans", Arial, sans-serif;
  font-size: 13px;
  line-height: 24px;
  font-weight: var(--cuprum-weight);
  color: var(--basic-black);
}

.services-list__item {
  font-size: 21px;
  line-height: 30px;
  font-weight: 700;
  background-color: var(--dark-blue);
  color: var(--basic-white);
  text-align: left;
  padding-top: 15px;
  padding-bottom: 15px;
  padding-left: 20px;
}

.services-list__item:hover {
  background-color: var(--darker-blue);
}

.services-list__item:active {
  background-color: var(--basic-white);
  color: var(--dark-blue);
}

.service__slider {
  width: 620px;
  grid-column-start: 2;
  grid-column-end: 3;
}

.service-slider__text {
  width: 300px;
}

.service-slide__wrapper--guarantee, .service-slide__wrapper--credit {
  display: none;
}

/* catalog about-products */

.about-products {
  background-color: var(--grey-services);
  padding: 50px 0px;
}

.about-products-wrapper {
  width: 940px;
  margin: 0 auto;
}

.about-products__heading {
  font-size: 30px;
  line-height: 30px;
  font-weight: var(--cuprum-weight);
  text-transform: uppercase;
  color: var(--basic-black);
}

.about-products__text {
  font-family: "PT Sans", Arial, sans-serif;
  font-size: 13px;
  line-height: 24px;
  font-weight: var(--cuprum-weight);
  color: var(--basic-black);
}

/* index about-company */

.about-company-wrapper {
  display: grid;
  margin: 0 auto;
  width: 940px;
  grid-template-columns: 1fr 1fr;
  gap: 140px;
  padding: 50px 0px;
}

.about-company {
  width: 460px;
}

.about-company__heading {
  font-size: 30px;
  line-height: 30px;
  font-weight: var(--cuprum-weight);
  color: var(--basic-black);
  text-transform: uppercase;
}

.about-company__text {
  font-family: "PT Sans", Arial, sans-serif;
  font-size: 13px;
  line-height: 24px;
  font-weight: var(--cuprum-weight);
  color: var(--basic-black);
}

.about-company__text--delivery {
  width: 400px;
}

.about-company__delivery-list {
  list-style: none;
  padding: 0px;
  margin-bottom: 50px;
}

.delivery-list__item {
  font-size: 18px;
  line-height: 24px;
  font-weight: var(--cuprum-weight);
  color: var(--basic-black);
  position: relative;
  margin-left: 35px;
}

.delivery-list__item::before {
  content: "";
  position: absolute;
  margin-right: 20px;
  width: 25px;
  height: 2px;
  background-color: var(--basic-red);
  bottom: 12px;
  left: -35px;
}

.about-company__link {
  padding: 10px 40px;
}

/* index contacts */

.contacts__heading {
  font-size: 30px;
  line-height: 30px;
  font-weight: var(--cuprum-weight);
  color: var(--basic-black);
  text-transform: uppercase;
}

.contacts__text {
  font-family: "PT Sans", Arial, sans-serif;
  font-size: 13px;
  line-height: 24px;
  font-weight: var(--cuprum-weight);
  color: var(--basic-black);
}

.contacts__text {
  width: 180px;
}

.contacts__link--help {
  padding: 10px 60px;
}


/* catalog page */

.catalog-page__heading {
  margin: 0 auto;
  width: 890px;
  padding: 25px;
  background-color: var(--ligh-grey-catalog);
  font-size: 30px;
  line-height: 30px;
  font-weight: var(--cuprum-weight);
  color: var(--dark-blue);
  margin-bottom: 50px;
  text-transform: uppercase;
}

.catalog-page-wrapper {
  display: grid;
  margin: 0 auto;
  width: 940px;
  grid-auto-columns: 1fr 1fr;
  gap: 20px;
}

.catalog {
  width: 700px;
  grid-column-start: 2;
}

/* catalog breadcrumbs */

.breadcrumbs__wrapper {
  margin-left: 130px;
}

.breadcrumbs__list {
  margin-left: 50px;
  list-style: none;
  padding: 0;
  display: flex;
  justify-content: flex-start;
}

.breadcrumbs__link--catalog, .breadcrumbs__link--instrument {
  position: relative;
  margin-right: 40px;
}

.breadcrumbs__link--home {
  margin-right: 40px;
  position: relative;
}

.breadcrumbs__link--home::after, .breadcrumbs__link--catalog::after, .breadcrumbs__link--instrument::after {
  position: absolute;
  content: "";
  width: 8px;
  height: 8px;
  background-color: transparent;
  border-left: 1px solid var(--grey-breadcrumbs);
  border-top: 1px solid var(--grey-breadcrumbs);
  transform: rotate(135deg);
}

.breadcrumbs__link--home::after {
  left: 15px;
  bottom: 4px;
}

.breadcrumbs__link--catalog::after {
  left: 65px;
  bottom: 5px;
}

.breadcrumbs__link--instrument::after {
  left: 95px;
  bottom: 5px;
}

.breadcrumbs__item, .breadcrumbs__link  {
  font-family: "PT Sans", Arial, sans-serif;
  font-size: 13px;
  line-height: 18px;
  font-weight: var(--cuprum-weight);
  color: var(--basic-black);
  text-transform: uppercase;
}


/* catalog sorting */

.sorting__wrapper {
  background-color: var(--beige-catalog);
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.sorting__heading, .sorting__link {
  font-family: "PT Sans", Arial, sans-serif;
  font-size: 13px;
  line-height: 18px;
  padding: 0px;
  font-weight: var(--cuprum-weight);
  color: var(--basic-black);
  text-transform: uppercase;
  padding-left: 20px;
}

.sorting__list {
  list-style: none;
  padding: 0px;
  margin: 0px;
  padding-top: 10px;
  padding-bottom: 10px;
  display: flex;
  width: 450px;
  justify-content: space-between;
}

.sorting__link {
  opacity: 0.3;
  text-decoration: underline;
  text-decoration-style: dotted;
  text-decoration-color: var(--basic-red);
}

.sorting__link:hover {
  color: var(--basic-black);
  opacity: 1;
  text-decoration: underline;
  text-decoration-style: solid;
  text-decoration-color: var(--basic-red);
}

.sorting__link:focus {
  color: var(--basic-red);
  text-decoration: none;
}

/* catalog filter */

.catalog__filter {
  width: 220px;
}

.form__heading {
  text-transform: uppercase;
  font-family: "PT Sans", Arial, sans-serif;
  background-color: var(--beige-catalog);
  margin: 0px;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 18px;
  padding-right: 140px;
  margin-bottom: 14px;
}

 .min-price-wrapper, .max-price-wrapper, .filter-price-input-wrapper {
  font-family: "PT Sans", Arial, sans-serif;
  background-color: var(--beige-catalog);
  padding-top: 10px;
  padding-bottom: 10px;
}

.filter-price-input-wrapper {
  padding: 35px 20px;
  margin-bottom: 10px;
}

input[type="range"] {
  width: 180px;
  height: 2px;
}

.filter-price-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 220px;
}

.filter__heading {
  font-family: "PT Sans", Arial, sans-serif;
  font-size: 17px;
  line-height: 30px;
  font-weight: 700;
  color: var(--basic-black);
  text-transform: uppercase;

}

.min-price, .max-price {
  font-family: "PT Sans", Arial, sans-serif;
  font-size: 17px;
  line-height: 18px;
  font-weight: var(--cuprum-weight);
  color: var(--basic-black);
  text-align: center;
  padding-top: 10px;
  padding-bottom: 10px;
}

.min-price {
  padding-left: 42px;
  padding-right: 42px;
}

.max-price {
  padding-left: 24px;
  padding-right: 24px;
}

.catalog__filter {
  border: none;
}

.filter__item {
  border: none;
  padding: 0px;
}

.catalog-brands__list, .product-type__list {
  list-style: none;
  padding: 0;
}

.filter__item--brands {
  border-top: 1px solid var(--grey-button-border);
  border-bottom: 1px solid var(--grey-button-border);
}

.filter__button {
  font-family: "PT Sans", Arial, sans-serif;
  font-size: 13px;
  line-height: 18px;
  font-weight: var(--cuprum-weight);
  color: var(--basic-black);
  text-transform: uppercase;
  text-align: center;
  border: 1px solid var(--grey-button-border);
  background-color: var(--basic-white);
  padding: 10px 80px;
}

.catalog-brands__item, .product-type__item {
  font-family: "PT Sans", Arial, sans-serif;
  font-size: 15px;
  line-height: 19px;
  font-weight: var(--cuprum-weight);
  color: var(--basic-black);
  text-transform: uppercase;
  margin-bottom: 20px;
}

/* catalog product-list */

.catalog-products__list {
  list-style: none;
  padding: 0;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 20px;
}

.catalog-products__item {
  border: 1px solid var(--grey-card-border);
}

.catalog-products__card {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.catalog-product__name a {
  font-family: "PT Sans", Arial, sans-serif;
  font-size: 18px;
  line-height: 20px;
  font-weight: 700;
  color: var(--basic-black);
}

.catalog-product__name {
  text-align: center;
  padding-left: 30px;
  padding-right: 30px;
}

/* catalog pagination */

.pagination {
  margin: 50px 0px;
}

.page__number {
  font-family: "PT Sans", Arial, sans-serif;
  font-size: 13px;
  line-height: 18px;
  font-weight: var(--cuprum-weight);
  color: var(--basic-black);
  text-transform: uppercase;
  border: 1px solid var(--grey-button-border);
  text-align: center;
  padding: 10px 15px;
  margin-right: 10px;
}

.page__number:hover {
  border: 1px solid var(--grey-checkbox-and-icon);
}

.page__number:focus {
  border: 1px solid var(--basic-red);
}

.page__number:active {
  background-color: var(--basic-red);
}


/* buttons */

.button-link {
  background-color: var(--basic-red);
}

.button-link:hover, .services__link:hover {
  background-color: var(--darker-red);
}

.button-link:focus, .services__link:focus{
  background-color: var(--dark-red);
}


/* footer */

.main-footer__content {
  background-color: var(--dark-blue);
  display: grid;
  grid-template-rows: auto auto;
  gap: 30px;
}

.footer-nav__wrapper {
  display: grid;
  margin: 0 auto;
  width: 940px;
  grid-template-columns: min-content auto;
  gap: 170px;
}

.footer-menu__wrapper {
  display: grid;
  margin: 0 auto;
  width: 940px;
  grid-template-columns: min-content auto;
  gap: 90px;
  padding-bottom: 50px;
}

.footer__address-wrapper {
  width: 320px;
}

.footer__logo {
  background-color: var(--basic-red);
}

.footer__logo-link {
  background-color: var(--basic-red);
  width: 220px;
}

.footer-nav, .footer-menu__list {
  list-style: none;
  padding: 0;
  display: flex;
  justify-content: space-between;
}

.footer-nav__link,
.footer-menu__link,
.footer__address,
.footer__link--tel {
  font-size: 18px;
  line-height: 24px;
  font-weight: var(--cuprum-weight);
  color: var(--grey-services);
}

.footer-nav__link {
  color: var(--grey-services);
}

.footer-menu__link {
  color: var(--yellow-menu);
}

.footer-nav__link:hover,
.footer-menu__link:hover,
.feedback__link:hover,
.developed__link:hover {
  text-decoration: underline;
}

.footer-nav__link:focus,
.footer-menu__link:focus {
  text-decoration: none;
  opacity: 0.5;
}

.footer__address {
  margin-bottom: 0px;
}

.footer-copy-wrapper {
  display: grid;
  margin: 0 auto;
  width: 940px;
  grid-template-columns: min-content 1fr min-content;
  gap: 100px;
}

.main-footer__copy {
  background-color: var(--darker-blue);
  padding-top: 30px;
  padding-bottom: 30px;
}

.copy__text-wrapper {
  width: 230px;
}

.copy__text, .copy__feedback, .copy__developed {
  font-size: 16px;
  line-height: 18px;
  font-weight: var(--cuprum-weight);
  color: var(--basic-white);
}

.socials__list {
  list-style: none;
}

.socials__link {
  width: 44px;
  height: 44px;
  border-radius: 50%;
  background-color: var(--extra-dark-blue);
}

.socials__link:hover,
.socials__link:focus {
  background-color: var(--basic-red);
}

.copy-feedback__wrapper {
  width: 320px;
  display: flex;
  justify-content: space-between;
}

.feedback__link, .developed__link {
  color: var(--yellow-menu);
}

.feedback__link:focus,
.developed__link:focus {
  text-decoration: none;
  color: var(--basic-red);
}


