/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v7.0.29,
* Autoprefixer: v9.7.6
* Browsers: last 2 version,not dead,not ie <= 11
*/


/* Variables */

:root {
  --basic-white: #ffffff;
  --white-text: rgba(255, 255, 255, 0.3);
  --beige-index: #f9f5f0;
  --beige-catalog: #f7f3ec;
  --ligh-grey-catalog: #f2f6f8;
  --grey-background-header: #f3f7f9;
  --grey-card-border: #eaeaea;
  --grey-button-border: #e5e5e5;
  --grey-services: #f1f5f7;
  --grey-modal-cart: #f1f1f1;
  --grey-icon-phone: #b7bfc8;
  --grey-checkbox-and-icon-hover: #b5b5b5;
  --grey-checkbox-and-icon: #c5c5c5;
  --grey-checkbox-and-icon-opacity: rgba(197, 197, 197, 0.3);
  --grey-breadcrumbs: #c1c6ce;
  --grey-range: #d7dcde;
  --grey-filter-price: #ababab;
  --grey-del: #a9a9a9;
  --grey-del-opacity: rgba(169, 169, 169, 0.3);
  --grey-box-shadow: rgba(0, 0, 0, 0.24);
  --grey-menu-slider: rgba(0, 0, 0, 0.25);
  --toggle-shadow: #cfcfcf;
  --blue: #3bbce3;
  --dark-blue: #32425c;
  --dark-icon: #3d546f;
  --darker-blue: #293449;
  --extra-dark-blue: #212a3a;
  --focus-blue: #1d2739;
  --focus-dark: #161d29;
  --basic-black: #000000;
  --yellow-menu: #ffd180;
  --yellow-materials: #ffbf47;
  --yellow-delivery: #ffc047;
  --light-green: #8ed78f;
  --bright-green: #5fbb2d;
  --basic-green: #63a63e;
  --dark-green: #518534;
  --green-bar: #00ca74;
  --green-border: #367315;
  --basic-pink: #dc91d8;
  --basic-red: #ee3643;
  --darker-red: #ca2c37;
  --dark-red: #ba2732;
  --bright-red: #ff5357;
  --font-weight: 400;
  --font-weight-more: 700;
}

/* Global */

body {
  min-width: 940px;
  margin: 0;
  padding: 0;
  font-family: "Cuprum", Arial, sans-serif;
  background-color: var(--basic-white);
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0px;
  margin: -1px;
  border: 0px;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.page {
  height: 100%;
}

.page-body {
  min-height: 100%;
  display: grid;
  grid-template-rows: -webkit-min-content 1fr -webkit-min-content;
  grid-template-rows: min-content 1fr min-content;
  align-content: start;
  margin: 0 auto;
}

.container {
  width: 940px;
  padding-left: 10px;
  padding-right: 10px;
  margin: 0 auto;
}


/* main-header */

.main-header {
  background-color: var(--grey-background-header);
  padding-bottom: 70px;
  margin-bottom: 54px;
}

.header-wrapper {
  background-color: var(--darker-blue);
  margin-bottom: 42px;
}

.header__menu-wrapper {
  display: flex;
  flex-wrap: wrap;
  position: relative;

}

.header__logo-link {
  display: block;
  position: absolute;
  width: 108px;
  height: 47px;
  padding: 0px 56px;
  background-color: var(--basic-red);
  box-shadow: inset 0px -5px 0px var(--grey-box-shadow);
}

.header__logo-link:active, .header__logo-link:focus {
  background-color: var(--dark-red);
}

.header__logo {
 margin-top: 12px;
}

.header-menu__list {
  display: flex;
  flex-wrap: wrap;
  width: 450px;
  list-style: none;
  padding: 0;
  margin: 0;
}

.menu-item__link {
  display: block;
  font-size: 18px;
  line-height: 24px;
  font-weight: var(--font-weight);
  color: var(--basic-white);
  padding-top: 10px;
  padding-bottom: 9px;
}

.menu__item--search {
  margin-left: 220px;
}

input[type="search"] {
  position: relative;
  width: 270px;
  font-size: 18px;
  line-height: 24px;
  font-weight: var(--font-weight);
  color: var(--basic-white);
  padding-top: 10px;
  padding-bottom: 9px;
  padding-left: 42px;
  border: none;
  background-color: var(--darker-blue);
}

.search-icon {
  z-index: 1;
  position: absolute;
  padding-top: 12px;
  padding-right: 5px;
  padding-bottom:12px;
  padding-left: 25px;
  top: 0px;
  left: 222px;
}

input[type="search"]::-webkit-input-placeholder {
  font-size: 18px;
  line-height: 24px;
  font-weight: var(--font-weight);
  color: var(--basic-white);
}

input[type="search"]::-moz-placeholder {
  font-size: 18px;
  line-height: 24px;
  font-weight: var(--font-weight);
  color: var(--basic-white);
}

input[type="search"]::placeholder {
  font-size: 18px;
  line-height: 24px;
  font-weight: var(--font-weight);
  color: var(--basic-white);
}

input[type="search"]:focus {
  background-color: var(--basic-white);
  color: var(--basic-black);
}

.menu__item--search:focus, .menu__item--search:active {
  background-color: var(--basic-white);
}

input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-results-button,
input[type="search"]::-webkit-search-results-decoration {
  display: none;
}

.menu__item--search path {
  opacity: 0.3;
}

.menu__item--search:hover path {
  opacity: 1;
}

.menu__item--search div:focus-within path {
  fill: var(--basic-red);
  opacity: 1;
}

.menu-item__link--marks, .menu-item__link--cart {
  position: relative;
}

.menu-item__link--marks {
  padding-left: 44px;
  width: 120px;
}

.menu-item__link--cart {
  padding-left: 35px;
  width: 101px;
}

.menu-item__link--marks::before {
  content: "";
  position: absolute;
  width: 14px;
  height: 16px;
  top: 13px;
  left: 20px;
  background-image: url("../img/icon-bookmark.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
  opacity: 0.3;
}

.menu-item__link--cart::before {
  content: "";
  position: absolute;
  width: 14px;
  height: 16px;
  top: 13px;
  left: 13px;
  background-image: url("../img/icon-cart.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
  opacity: 0.3;
}

.menu-item__link--marks:hover::before, .menu-item__link--cart:hover::before {
  opacity: 1;
}

.menu-item__link--marks:focus, .menu-item__link--cart:focus {
  background-color: var(--focus-dark);
  opacity: 0.5;
}

.menu-item__link--checkout {
  background-color: var(--basic-green);
  padding-right: 16px;
  padding-left: 19px;
}

.menu-item__link--checkout:hover {
  background-color: var(--bright-green);
}

.menu-item__link--checkout:focus {
  opacity: 0.5;
}

.header__info-wrapper {
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
  padding-left: 69px;
  margin-bottom: 26px;
}

.info__text {
  width: 197px;
  font-size: 16px;
  line-height: 24px;
  font-weight: var(--font-weight);
  color: var(--basic-red);
  margin-right: 93px;
}

.info__contacts-wrapper {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  width: 270px;
  margin-right: 50px;
}

.info__index-contacts {
  margin-right: 70px;
}

.info__tel {
  position: relative;
  font-size: 21px;
  line-height: 30px;
  font-weight: var(--font-weight-more);
  color: var(--basic-red);
  padding-top: 4px;
  padding-bottom: 5px;
  padding-left: 72px;
  margin-top: 3px;
  border: 3px solid var(--basic-white);
}


.info__tel::before {
  content: "";
  position: absolute;
  width: 20px;
  height: 20px;
  top: 10px;
  left: 37px;
  background-image: url("../img/icon-phone.svg");
  background-repeat: no-repeat;
}

.info__address {
  font-size: 14px;
  line-height: 24px;
  font-weight: var(--font-weight);
  color: var(--dark-blue);
  text-align: center;
  padding-left: 2px;
  margin-top: 3px;
}

.nav__list {
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
  list-style: none;
  padding: 0;
  background-color: var(--dark-blue);
  box-shadow: 0px 5px 0px var(--darker-blue);
}

.nav-item__link {
  display: block;
  font-size: 18px;
  line-height: 24px;
  font-weight: var(--font-weight);
  color: var(--basic-white);
  padding-top: 17px;
  padding-right: 28px;
  padding-bottom: 14px;
  padding-left: 28px;
}

.nav__item:first-child .nav-item__link {
  padding-left: 53px;
}

.nav__item:nth-child(2) .nav-item__link {
  padding-right: 29px;
}

.nav__item:nth-child(4) .nav-item__link {
  padding-right: 29px;
}

.nav__item:nth-child(7) .nav-item__link {
  padding-right: 53px;
}

.nav-item__link:hover {
  background-color: var(--darker-blue);
}

.nav-item__link:focus, .nav-item__link:active, .current-page {
  opacity: 0.5;
  background-color: var(--focus-blue);
}

/* index account-menu */

.header__account-wrapper {
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
  width: 281px;
  margin-top: 3px;
}

.account__link {
  display: block;
  height: 25px;
  font-size: 21px;
  font-weight: var(--font-weight);
  color: var(--basic-black);
  text-align: center;
  padding-top: 10px;
  padding-bottom: 10px;
  background-color: var(--basic-white);
}

.account__link:hover {
  color: var(--basic-red);
}

.account__link:focus {
  color: var(--grey-checkbox-and-icon);
}

.account__link--login {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding-top: 9px;
  padding-right: 27px;
  padding-bottom: 11px;
  padding-left: 18px;
  margin-right: 10px;
}

.account__link--login svg {
  margin-right: 7px;
}


.account__link--login:hover path {
  fill: var(--dark-icon);
}

.account__link--login:focus path, .account__link--login:active path {
  fill: var(--grey-checkbox-and-icon);
}

.account__link--registration {
  padding-right: 24px;
  padding-left: 24px;
}

/* catalog user-menu */

.info__user-wrapper {
  display: grid;
  grid-template-rows: -webkit-min-content -webkit-min-content;
  grid-template-rows: min-content min-content;
  width: 293px;
  margin-top: 3px;
}

.user__menu {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-wrap: wrap;
  list-style: none;
  width: 210px;
  padding-top: 7px;
  padding-bottom: 6px;
  padding-left: 45px;
  margin: 0px;
}

.user-menu__item {
  margin-right: 20px;
}

.user-menu__item:last-child {
  margin-right: 0px;
}

.user-name-wrapper {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-wrap: wrap;
  width: 269px;
  padding-top: 13px;
  padding-right: 14px;
  padding-bottom: 11px;
  padding-left: 16px;
  background-color: var(--basic-white);
}

.user__link {
  display: block;
  font-size: 16px;
  line-height: 18px;
  font-weight: var(--font-weight);
  color: var(--dark-blue);
}

.user__link--name {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  width: 227px;
  font-size: 21px;
  line-height: 21px;
  font-weight: var(--font-weight);
  color: var(--basic-black);
  text-align: center;
  margin-right: 20px;
}

.user__link--account {
  position: relative;
  padding-left: 12px;
}

.user__link--account::before {
  content: "";
  position: absolute;
  width: 4px;
  height: 4px;
  background-color: var(--dark-blue);
  border-radius: 50%;
  bottom: 6px;
  left: -5px;
}


.user__link--name:hover path, .user__link--logout:hover path {
  fill: var(--dark-icon);
}

.user__link--name:focus path, .user__link--name:active path,
.user__link--logout:focus path, .user__link--logout:active path {
  fill: var(--grey-checkbox-and-icon);
}

.user__link--orders:hover, .user__link--account:hover {
  color: var(--basic-red);
}

.user__link:focus {
  color: var(--grey-checkbox-and-icon);
}

/* index site-menu */

.site-menu {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  margin-bottom: 15px;
}

.site-menu__list {
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
  list-style: none;
  margin: 0;
  padding: 0;
  margin-bottom: 20px;
}

.site-menu-list-wrapper {
  display: flex;
  flex-wrap: wrap;
}

.site-menu__list--slider, .site-menu__list--column {
  flex-direction: column;
}

.site-menu__list--column .site-menu__item {
  margin-right: 0px;
  margin-bottom: 20px;
}

.site-menu__item {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  font-size: 20px;
  font-weight: bold;
  color: var(--basic-white);
  padding-top: 23px;
  padding-bottom: 21px;
  padding-left: 23px;
  margin-right: 20px;
}

.site-menu__item:nth-child(3n) {
  margin-right: 0px;
}

.site-menu__item h3 {
  padding-right: 160px;
  padding-bottom: 15px;
  margin: 0px;
}

.site-menu__item--materials {
  padding-right: 6px;
  background-color: var(--yellow-materials);
  background-image: url("../img/icon-materials.svg"), url("../img/new.svg");
  background-repeat: no-repeat, no-repeat;
  background-position: 83% 54%, 100% 0%;
}

.site-menu__item--instrument {
  padding-right: 3px;
  background-color: var(--blue);
  background-image: url("../img/icon-instrument.svg");
  background-repeat: no-repeat;
  background-position: 86% 55%;
}

.site-menu__item--technics {
  padding-right: 47px;
  background-color: var(--basic-pink);
  background-image: url("../img/icon-technics.svg");
  background-repeat: no-repeat;
  background-position: 87% 50%;
}

.site-menu__item--technics h3 {
  padding-right: 153px;
}

.site-menu__link {
  display: block;
  width: 135px;
  font-size: 14px;
  line-height: 18px;
  color: var(--basic-white);
  text-transform: uppercase;
  text-align: left;
  padding-top: 10px;
  padding-bottom: 10px;
  background-color: var(--white-text);
}

.site-menu__link--materials {
  padding-left: 23px;
  width: 112px;
}

.site-menu__link--instrument {
  padding-left: 26px;
  width: 109px;
}

.site-menu__link--technics {
  padding-left: 30px;
  width: 105px;
}

.site-menu__link--discount {
  padding-left: 22px;
  width: 113px;
}

.site-menu__link--delivery {
  padding-left: 36px;
  width: 100px;
}

.site-menu__item--discount {
  padding-right: 2px;
  padding-bottom: 22px;
  background-color: var(--light-green);
  background-image: url("../img/icon-discount.svg");
  background-repeat: no-repeat;
  background-position: 81% 50%;
}

.site-menu__item--discount h3 {
  padding-bottom: 14px;
}

.site-menu__item--delivery {
  padding-top: 22px;
  padding-bottom: 22px;
  background-color: var(--yellow-delivery);
  background-image: url("../img/icon-delivery.svg");
  background-repeat: no-repeat;
  background-position: 86% 54%;
}

.site-menu__link:hover {
  background-color: var(--grey-checkbox-and-icon-opacity);
}

.site-menu__link:focus, .site-menu__link:active {
  background-color: var(--grey-del-opacity);
}

/* index slider */

.site-menu__slider {
  position: relative;
  margin-right: 20px;
  margin-bottom: 20px;
}

.slide__photo {
  position: relative;
  -o-object-fit: contain;
     object-fit: contain;
}

.slide {
  display: none;
}

.slide-current {
  display: block;
}

.slider__list {
  list-style: none;
  padding: 0;
  margin: 0;
}

.slide-title-wrapper {
  z-index: 1;
  position: absolute;
  width: 620px;
  top: 0px;
  left: 0px;
  background-color: rgba(0, 0, 0, 0.25);
}

.slide__title {
  z-index: 1;
  font-size: 36px;
  font-weight: var(--font-weight-more);
  line-height: 36px;
  text-transform: uppercase;
  color: var(--basic-white);
  padding-top: 23px;
  padding-left: 24px;
  margin-top: 0px;
  margin-bottom: 0px;
}

.slide__text {
  z-index: 1;
  font-size: 18px;
  font-weight: var(--font-weight);
  line-height: 24px;
  color: var(--basic-white);
  padding-top: 6px;
  padding-left: 24px;
  margin-top: 0px;
  margin-bottom: 15px;
}

.slider-arrows {
  z-index: 1;
  position: absolute;
  display: flex;
  justify-content: space-between;
  width: 570px;
  left: 25px;
  top: 120px;
}

.forward, .back {
  position: relative;
}

.forward::before, .back::before {
  content: "";
  position: absolute;
  border: 3px solid transparent;
  border-left: 3px solid var(--basic-white);
  border-bottom: 3px solid var(--basic-white);
  width: 23px;
  height: 23px;
  bottom: -37px;
  cursor: pointer;
}

.back::before {
  left: 7px;
  transform: rotate(45deg);
}

.forward::before {
  transform: rotate(225deg);
  right: 0px;
}

.slider-controls {
  z-index: 1;
  position: absolute;
  display: flex;
  justify-content: space-between;
  width: 30px;
  left: 295px;
  top: 220px;
}

.slider-control {
  padding: 0;
  width: 10px;
  height: 10px;
  background-color: var(--basic-red);
  border: 2px solid var(--basic-white);
  border-radius: 50%;
  cursor: pointer;
}

.slide-link {
  z-index: 1;
  display: block;
  position: absolute;
  width: 100px;
  top: 200px;
  left: 24px;
  font-size: 14px;
  line-height: 18px;
  text-transform: uppercase;
  color: var(--basic-white);
  padding: 11px 46px;
  background-color: var(--basic-red);
}

.slide-link:hover {
  background-color: var(--darker-red);
}

.slide-link:focus {
  background-color: var(--dark-red);
}

/* index popular-products */

.popular-products {
  display: grid;
  grid-template-rows: auto auto;
  margin-bottom: 70px;
}

.popular-products__heading-wrapper {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-wrap: wrap;
  padding-top: 2px;
  padding-right: 14px;
  padding-left: 28px;
  padding-bottom: 2px;
  margin-bottom: 20px;
  background-color: var(--beige-index);
}

.popular-products__heading {
  font-size: 30px;
  line-height: 35px;
  font-weight: var(--font-weight);
  color: var(--dark-blue);
  text-transform: uppercase;
  width: 264px;
  margin-right: 442px;
}

.popular-products__link {
  display: block;
  width: 144px;
  font-size: 14px;
  line-height: 18px;
  color: var(--basic-white);
  text-transform: uppercase;
  text-align: center;
  padding-top: 11px;
  padding-right: 24px;
  padding-bottom: 9px;
  padding-left: 24px;
  background-color: var(--basic-red);
}

.popular-products__link:hover {
  background-color: var(--darker-red);
}

.popular-products__link:focus {
  background-color: var(--dark-red);
}

.popular-products__list {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 20px;
  list-style: none;
  padding: 0;
  margin: 0;
}

.products__item {
  position: relative;
  border: 1px solid var(--grey-card-border);
}

.products__item:hover, .products__item:focus, .products__item:active {
  box-shadow: 0 0 10px 2px rgba(0, 0, 0, 0.1);
}

.products__item::after {
  content:"";
  position: absolute;
  display: none;
  width: 70px;
  height: 70px;
  top: 0px;
  right: 0px;
  background-image: url("../img/new.svg");
  background-repeat: no-repeat;
}

.products__item:nth-child(2n)::after {
  display: block;
}

.product__card {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}

.product-info {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
  margin-top: auto;
}

.product__photo {
  -o-object-fit: contain;
     object-fit: contain;
}

.products__item:first-child .product__photo {
  margin-top: 5px;
  padding-left: 18px;
}

.products__item:nth-child(2) .product__photo {
  margin-top: 29px;
  padding-left: 39px;
}

.products__item:nth-child(3) .product__photo {
  margin-top: 20px;
  padding-left: 32px;
}

.products__item:nth-child(4) .product__photo {
  margin-top: 29px;
  padding-left: 39px;
}

.product__name {
  padding: 0px 30px;
  text-align: center;
}

.products__item:first-child .product__name {
  margin-top: 5px;
  margin-bottom: 7px;
}

.products__item:nth-child(2) .product__name  {
  margin-top: 33px;
  margin-bottom: 7px;
  padding-left: 27px;
}

.products__item:nth-child(3) .product__name  {
  margin-top: 26px;
  margin-bottom: 7px;
}

.products__item:nth-child(4) .product__name {
  margin-top: 34px;
  margin-bottom: 36px;
  padding-left: 27px;
}

.product__name a {
  font-family: "PT Sans", Arial, sans-serif;
  font-size: 18px;
  font-weight: var(--font-weight-more);
  color: var(--basic-black);
}

.product-price {
  font-family: "PT Sans", Arial, sans-serif;
  font-size: 17px;
  line-height: 18px;
  font-weight: var(--font-weight-more);
}

del {
  color: var(--grey-del);
  padding-left: 2px;
  margin-bottom: 13px;
}

ins {
  text-decoration: none;
  text-align: center;
  color: var(--basic-white);
  padding-top: 10px;
  padding-right: 44px;
  padding-bottom: 11px;
  padding-left: 33px;
  margin-bottom: 19px;
  margin-left: 10px;
  background-image: url("../img/red-button.svg");
  background-repeat: no-repeat;
  background-position: center;
}

.products__item:first-child ins {
  margin-left: 14px;
}

.product__actions-wrapper {
  display: none;
  width: 135px;
  padding-bottom: 30px;
  padding-left: 41px;
  margin-top: 38px;
}

.products__item:first-child .product__actions-wrapper {
  padding-bottom: 52px;
}

.products__item:nth-child(2) .product__actions-wrapper {
  padding-bottom: 23px;
}

.products__item:nth-child(4) .product__actions-wrapper {
  padding-bottom: 23px;
}

.popular-products__list>li:hover img {
  display: none;
}

.popular-products__list>li:hover .product__actions-wrapper {
  display: block;
}

.popular-products__list>li:focus-within img {
  display: none;
}

.popular-products__list>li:focus-within .product__actions-wrapper {
  display: block;
}

.product__action {
  display: block;
  font-size: 14px;
  line-height: 18px;
  font-weight: var(--font-weight);
  text-align: center;
  text-transform: uppercase;
  padding-top: 10px;
  padding-bottom: 10px;
  border: none;
  border-radius: 2px;
  margin-bottom: 10px;
}

.product__action:last-child {
  margin-bottom: 0px;
}

.product__action--buy {
  position: relative;
  display: flex;
  color: var(--basic-white);
  padding-top: 9px;
  padding-right: 40px;
  padding-bottom: 7px;
  padding-left: 52px;
  border-bottom: 3px solid var(--green-border);
  background-color: var(--basic-green);
}

.product__action--buy::before {
  content: "";
  position: absolute;
  width: 15px;
  height: 16px;
  top: 9px;
  left: 29px;
  background-image: url("../img/icon-cart.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
  opacity: 0.3;
}

.product__action--buy:hover {
  background-color: var(--bright-green);
}

.product__action--buy:focus {
  background-color: var(--dark-green);
}

.product__action--add-to-bookmarks {
  color: var(--dark-blue);
  padding-top: 8px;
  padding-right: 30px;
  padding-left: 30px;
  padding-bottom: 6px;
  border: 3px solid var(--basic-green);
}

.product__action--add-to-bookmarks:hover {
  border: 3px solid var(--dark-blue);
}

.product__action--add-to-bookmarks:focus {
  border: 3px solid var(--dark-blue);
  opacity: 0.5;
}

/* catalog product-list */

.catalog-products__list {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 18px;
  list-style: none;
  padding: 0;
  margin: 0;
  margin-bottom: 48px;
}

.catalog-products__item {
  position: relative;
  border: 1px solid var(--grey-card-border);
}

.catalog-products__item:hover, .catalog-products__item:focus, .catalog-products__item:active {
  box-shadow: 0 0 10px 2px rgba(0, 0, 0, 0.1);
}

.catalog-products__item::after {
  content: "";
  position: absolute;
  width: 70px;
  height: 70px;
  top: 0px;
  right: 0px;
  background-image: url("../img/new.svg");
  background-repeat: no-repeat;
  display: none;
}

.catalog-products__card {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}

.catalog-products__item:nth-child(3n)::after, .catalog-products__item:nth-child(4)::after, .catalog-products__item:nth-child(7)::after {
  display: block;
}

.catalog-products__list>li:hover img {
  display: none;
}

.catalog-products__list>li:hover .product__actions-wrapper {
  display: block;
}

.catalog-products__list>li:focus-within img {
  display: none;
}

.catalog-products__list>li:focus-within .product__actions-wrapper {
  display: block;
}

.catalog-product__photo {
  -o-object-fit: contain;
     object-fit: contain;
}

.catalog-product__name {
  padding: 0px 30px;
  text-align: center;
}

.catalog-product__name a {
  font-family: "PT Sans", Arial, sans-serif;
  font-size: 18px;
  line-height: 20px;
  font-weight: var(--font-weight-more);
  color: var(--basic-black);
}

.catalog-products__item:first-child .catalog-product__photo,
.catalog-products__item:nth-child(2) .catalog-product__photo,
.catalog-products__item:nth-child(3) .catalog-product__photo,
.catalog-products__item:nth-child(5) .catalog-product__photo,
.catalog-products__item:nth-child(8) .catalog-product__photo {
  margin-top: 20px;
  padding-left: 32px;
}

.catalog-products__item:first-child .catalog-product__name,
.catalog-products__item:nth-child(2) .catalog-product__name,
.catalog-products__item:nth-child(3) .catalog-product__name,
.catalog-products__item:nth-child(5) .catalog-product__name,
.catalog-products__item:nth-child(8) .catalog-product__name {
  margin-top: 26px;
  margin-bottom: 7px;
}

.catalog-products__item:nth-child(4) .catalog-product__photo,
.catalog-products__item:nth-child(7) .catalog-product__photo {
  margin-top: 29px;
  padding-left: 39px;
}

.catalog-products__item:nth-child(4) .catalog-product__name,
.catalog-products__item:nth-child(7) .catalog-product__name {
  margin-top: 33px;
  margin-bottom: 7px;
  padding-left: 27px;
}

.catalog-products__item:nth-child(4) .product__actions-wrapper,
.catalog-products__item:nth-child(7) .product__actions-wrapper {
  padding-bottom: 23px;
}

.catalog-products__item:nth-child(6) .catalog-product__photo,
.catalog-products__item:nth-child(9) .catalog-product__photo {
  margin-top: 29px;
  padding-left: 39px;
}

.catalog-products__item:nth-child(6) .catalog-product__name,
.catalog-products__item:nth-child(9) .catalog-product__name {
  margin-top: 34px;
  margin-bottom: 36px;
  padding-left: 27px;
}

.catalog-products__item:nth-child(6) .product__actions-wrapper,
.catalog-products__item:nth-child(9) .product__actions-wrapper {
  padding-bottom: 23px;
}

/*  index popular-brands */

.popular-brands {
  display: grid;
  grid-template-rows: auto auto;
  margin-bottom: 70px;
}

.popular-brands__heading-wrapper {
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
  align-items: center;
  padding-top: 2px;
  padding-right: 19px;
  padding-bottom: 2px;
  padding-left: 28px;
  margin-bottom: 20px;
  background-color: var(--beige-index);
}

.popular-brands__heading {
  font-size: 30px;
  line-height: 35px;
  font-weight: var(--font-weight);
  color: var(--dark-blue);
  text-transform: uppercase;
  width: 370px;
  margin-right: 331px;
}

.popular-brands__link {
  display: block;
  font-size: 14px;
  line-height: 18px;
  color: var(--basic-white);
  text-transform: uppercase;
  text-align: center;
  width: 115px;
  padding-top: 11px;
  padding-right: 38px;
  padding-bottom: 9px;
  padding-left: 39px;
  background-color: var(--basic-red);
}

.popular-brands__link:hover {
  background-color: var(--darker-red);
}

.popular-brands__link:focus {
  background-color: var(--dark-red);
}

.popular-brands__list {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 20px;
  list-style: none;
  padding: 0;
  margin: 0;
}

.brands__logo {
  -o-object-fit: contain;
     object-fit: contain;
}

.brands__item {
  display: flex;
  align-items: center;
  max-height: 143px;
  border: 1px solid var(--grey-card-border);
  cursor: pointer;
}

.brands__link {
  display: block;
}

.brands__logo--bosch {
  padding-top: 54px;
  padding-right: 47px;
  padding-bottom: 48px;
  padding-left: 47px;
}

.brands__logo--makita {
  padding-top: 50px;
  padding-right: 49px;
  padding-bottom: 55px;
  padding-left: 48px;
}

.brands__logo--dewalt {
  padding-top: 48px;
  padding-right: 37px;
  padding-bottom: 53px;
  padding-left: 37px;
}

.brands__logo--interscol {
  padding-top: 34px;
  padding-right: 11px;
  padding-bottom: 35px;
  padding-left: 9px;
}

.brands__logo--hitachi {
  padding-top: 58px;
  padding-right: 23px;
  padding-bottom: 56px;
  padding-left: 28px;
}

.brands__logo--lg {
  padding-top: 35px;
  padding-right: 51px;
  padding-bottom: 37px;
  padding-left: 48px;
}

.brands__logo--aeg {
  padding-top: 23px;
  padding-right: 34px;
  padding-bottom: 24px;
  padding-left: 35px;
}

.brands__logo--metabo {
  padding-top: 34px;
  padding-right: 6px;
  padding-bottom: 38px;
  padding-left: 8px;
}

.brands__item:hover {
  box-shadow: 0 0 10px 2px rgba(0, 0, 0, 0.1);
}

.brands__item:focus, .brands__item:active {
  box-shadow: 0 0 10px 2px rgba(0, 0, 0, 0.1);
  opacity: 0.5;
}

/*  index services */

.services {
  background-color: var(--grey-services);
  padding-top: 40px;
}

.services__heading, .service-slider__heading {
  font-size: 30px;
  line-height: 30px;
  font-weight: var(--font-weight);
  text-transform: uppercase;
  padding-top: 0px;
}

.services__heading {
  color: var(--basic-black);
}

.service-slider__heading {
  margin-top: 0px;
  color: var(--dark-blue);
}

.services__text {
  width: 400px;
}

.services__text, .service-slider__text {
  font-family: "PT Sans", Arial, sans-serif;
  font-size: 13px;
  line-height: 24px;
  font-weight: var(--font-weight);
  color: var(--basic-black);
}

.service-slider__text {
  line-height: 25px;
}

.services__list, .services-slider-controls {
  margin: 0px;
  padding: 0px;
  list-style: none;
}

.services-slider__item {
  max-width: 619px;
  min-height: 283px;
}

.services-slider-controls-wrapper {
  display: flex;
  align-items: center;
}

.services-slider-controls {
  position: relative;
  margin-top: 2px;
  margin-right: 80px;
}

.services-slider-controls::after {
  content:"";
  position: absolute;
  width: 10px;
  height: 279px;
  bottom: -45px;
  right: 0px;
  background-image: url("../img/line.png");
  background-repeat: no-repeat;
}

.services-slider-controls__item label {
  cursor: pointer;
}

.services-slider-controls__item {
  font-size: 21px;
  line-height: 30px;
  font-weight: var(--font-weight-more);
  color: var(--basic-white);
  text-align: left;
  width: 218px;
  padding-top: 13px;
  padding-bottom: 17px;
  padding-left: 22px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.3);
  border-top: 1px solid var(--white-text);
  background-color: var(--dark-blue);
  cursor: pointer;
}

.services-slider-controls__item:hover {
  background-color: var(--darker-blue);
}

.services-slider-controls__item:active, .services-button-current, .services-button-current:hover  {
  background-color: var(--basic-white);
  color: var(--dark-blue);
}

.services__link {
  display: block;
  font-size: 14px;
  line-height: 18px;
  color: var(--basic-white);
  text-transform: uppercase;
  text-align: center;
  width: 195px;
  padding-top: 10px;
  padding-bottom: 10px;
  margin-bottom: 5px;
  background-color: var(--bright-red);
}


.services__link:focus {
  outline: thin dotted var(--bright-red);
}

.services-slider-wrapper {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  padding-top: 56px;
  padding-bottom: 10px;
}

.services-slider__item {
  display: none;
  padding-right: 320px;
}

.services-slide-current {
  display: block;
}

.service-slide__item--delivery {
  background-image: url("../img/delivery-slide.png");
  background-repeat: no-repeat;
  background-position: 100% 91%;
}

.service-slide__item--delivery p {
  width: 300px;
  text-align: left;
}

.service-slide__item--guarantee {
  background-image: url("../img/guarantee-slide.png");
  background-repeat: no-repeat;
  background-position: 90% 55%;
}

.service-slide__item--guarantee .service-slider__heading {
  margin-bottom: 25px;
}

.service-slide__item--guarantee p {
  width: 330px;
  text-align: left;
  line-height: 24px;
  margin-top: 0px;
}

.service-slide__item--credit {
  background-image: url("../img/credit-slide.png");
  background-repeat: no-repeat;
  background-position: 100% 100%;
  padding-right: 330px;
}

.service-slide__item--credit p {
  width: 300px;
  text-align: left;
  margin-bottom: 23px;
}


/* catalog about-products */

.about-products {
  background-color: var(--grey-services);
  padding-top: 40px;
  padding-bottom: 55px;
}

.about-products__heading {
  font-size: 30px;
  line-height: 30px;
  font-weight: var(--font-weight);
  text-transform: uppercase;
  color: var(--basic-black);
}

.about-products__text {
  font-family: "PT Sans", Arial, sans-serif;
  font-size: 13px;
  line-height: 24px;
  font-weight: var(--font-weight);
  color: var(--basic-black);
}

/* index about-company */

.about-company-wrapper {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  padding: 39px 0px;
  padding-bottom: 70px;
  position: relative;
}

.about-company {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex-wrap: wrap;
  width: 460px;
  min-height: 360px;
}

.about-company__heading {
  font-size: 30px;
  line-height: 30px;
  font-weight: var(--font-weight);
  color: var(--basic-black);
  text-transform: uppercase;
  margin-bottom: 23px;
}

.about-company__text {
  font-family: "PT Sans", Arial, sans-serif;
  font-size: 13px;
  line-height: 24px;
  font-weight: var(--font-weight);
  color: var(--basic-black);
  margin-bottom: 23px;
}

.about-company__text--choice {
 padding-bottom: 3px;
}

.about-company__text--delivery {
  width: 400px;
  margin-bottom: 2px;
}

.about-company__delivery-list {
  margin: 0;
  padding: 0;
  list-style: none;
  margin-left: 37px;
  margin-bottom: 19px;
}

.delivery-list__item {
  font-size: 18px;
  line-height: 24px;
  font-weight: var(--font-weight);
  color: var(--basic-black);
  position: relative;
  margin-bottom: 12px;
}

.delivery-list__item::before {
  content: "";
  position: absolute;
  margin-right: 20px;
  width: 25px;
  height: 2px;
  top: 11px;
  left: -37px;
  background-color: var(--basic-red);
}

.delivery-list__item:first-child::before {
  top: 13px;
}

.delivery-list__item:last-child::before {
  top: 9px;
}

.about-company__link {
  display: block;
  font-size: 14px;
  line-height: 18px;
  color: var(--basic-white);
  text-transform: uppercase;
  text-align: center;
  width: 220px;
  padding-top: 11px;
  padding-bottom: 9px;
  margin-top: auto;
  background-color: var(--basic-red);
}

.about-company__link:hover {
  background-color: var(--darker-red);
}

.about-company__link:focus {
  background-color: var(--dark-red);
}

/* index contacts */

.contacts {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: space-between;
  min-height: 360px;
}

.contacts__heading {
  font-size: 30px;
  line-height: 30px;
  font-weight: var(--font-weight);
  color: var(--basic-black);
  text-transform: uppercase;
  margin-bottom: 21px;
}

.contacts__text {
  font-family: "PT Sans", Arial, sans-serif;
  font-size: 13px;
  line-height: 27px;
  font-weight: var(--font-weight);
  color: var(--basic-black);
}

.contacts__text {
  width: 180px;
  margin-bottom: 29px;
}

.contacts__link--map {
  cursor: pointer;
}

.contacts__big-map {
  display: none;
  position: absolute;
  top: 14px;
  left: 0px;
  right: 160px;
  border-top: 7px solid var(--basic-red);
}

.contacts__link--map:focus-within .contacts__big-map, .contacts__link--map:active .contacts__big-map  {
  display: block;
}

.modal-close-map {
  display: none;
  position: absolute;
  border: none;
  width: 22px;
  height: 22px;
  top: 25px;
  right: 13px;
  cursor: pointer;
  background-color: transparent;
}

.modal-close-map::before, .modal-close-map::after {
  position: absolute;
  content: "";
  background-color: var(--basic-red);
  width: 25px;
  height: 3px;
  top: 10px;
  left: 1px;
  right: 10px;
  cursor: pointer;
}

.modal-close-map::before {
  transform: rotate(45deg);
}

.modal-close-map::after {
  transform: rotate(-45deg);
}

.contacts__link--map:focus-within .modal-close-map, .contacts__link--map:active .modal-close-map {
  display: block;
}

.contacts__link--help {
  display: block;
  text-align: center;
  font-size: 14px;
  line-height: 18px;
  color: var(--basic-white);
  text-transform: uppercase;
  width: 300px;
  padding-top: 11px;
  padding-bottom: 9px;
  margin-top: auto;
  background-color: var(--basic-red);
}

.contacts__link--help:hover {
  background-color: var(--darker-red);
}

.contacts__link--help:focus {
  background-color: var(--dark-red);
}

/* catalog page */

.catalog-page__heading {
  font-size: 30px;
  font-weight: var(--font-weight);
  color: var(--dark-blue);
  text-transform: uppercase;
  padding-top: 29px;
  padding-bottom: 25px;
  padding-left: 29px;
  margin-top: 20px;
  margin-bottom: 21px;
  background-color: var(--ligh-grey-catalog);
}

.catalog-page-wrapper {
  display: grid;
  grid-auto-columns: 1fr 1fr;
  gap: 20px;
  margin-bottom: 59px;
}

.catalog {
  width: 700px;
  grid-column-start: 2;
}

/* catalog breadcrumbs */

.catalog-header {
  margin-bottom: 20px;
  padding-bottom: 50px;
}

.breadcrumbs__list {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-wrap: wrap;
  list-style: none;
  padding: 0;
  margin: 0;
}

.breadcrumbs__item, .breadcrumbs__link {
  display: block;
  position: relative;
  font-family: "PT Sans", Arial, sans-serif;
  font-size: 13px;
  line-height: 18px;
  font-weight: var(--font-weight);
  color: var(--basic-black);
  text-transform: uppercase;
  margin-right: 20px;
}

.breadcrumbs__link--home {
  width: 14px;
  height: 12px;
  background-image: url("../img/icon-home.svg");
  background-repeat: no-repeat;
  background-position: 100% 100%;
  margin-right: 21px;
}

.breadcrumbs__link--catalog {
  margin-right: 21px;
}

.breadcrumbs__link--instrument {
  margin-right: 22px;
}

.breadcrumbs__link::after {
  position: absolute;
  content: "";
  width: 8px;
  height: 8px;
  right: -24px;
  top: 4px;
  background-color: transparent;
  border-left: 1px solid var(--grey-breadcrumbs);
  border-top: 1px solid var(--grey-breadcrumbs);
  transform: rotate(135deg);
}

.breadcrumbs__link--home::after {
  top: 2px;
  right: -20px;
}

.breadcrumbs__link--catalog::after {
  right: -23px;
}

.breadcrumbs__link--instrument::after {
  right: -22px;
}

/* catalog sorting */

.sorting__wrapper {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-wrap: wrap;
  background-color: var(--beige-catalog);
  padding-left: 20px;
  margin-bottom: 28px;
}

.sorting__heading {
  margin-right: 140px;
}

.sorting__heading, .sorting__link {
  font-family: "PT Sans", Arial, sans-serif;
  font-size: 13px;
  font-weight: var(--font-weight);
  color: var(--basic-black);
  text-transform: uppercase;
  padding-top: 12px;
  padding-bottom: 12px;
}

.sorting__list {
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
  width: 354px;
  list-style: none;
  padding: 0;
  margin: 0;
  margin-right: 46px;
}

.sorting__list li {
  margin-right: 70px;
}

.sorting__list li:nth-child(2n) {
  margin-right: 65px;
}

.sorting__list li:nth-child(3n) {
  margin-right: 0px;
}

.sorting__link {
  opacity: 0.3;
  text-decoration: underline;
  -webkit-text-decoration-style: dotted;
          text-decoration-style: dotted;
  -webkit-text-decoration-color: var(--basic-red);
          text-decoration-color: var(--basic-red);
}

.sorting__link:hover {
  opacity: 1;
  color: var(--basic-black);
  text-decoration: underline;
  -webkit-text-decoration-style: solid;
          text-decoration-style: solid;
  -webkit-text-decoration-color: var(--basic-red);
          text-decoration-color: var(--basic-red);
}

.sorting__link:focus, .sorting__link:active, .current-sorting-link {
  color: var(--basic-red);
  text-decoration: none;
  opacity: 1;
}

.sorting__buttons {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  width: 43px;
  list-style: none;
  margin: 0px;
  padding: 0px;
  margin-right: 14px;
}

.sorting__buttons path {
  fill: var(--grey-checkbox-and-icon);
}

.sorting-button-down svg {
  transform: rotate(180deg);
}

.sorting-button-up:hover path, .sorting-button-down:hover path {
  fill: var(--basic-black);
}

.sorting-button-up:active path,
.sorting-button-up:focus path,
.sorting-button-down:active path,
.sorting-button-down:focus path, .current-sorting-button path {
  fill: var(--basic-red);
}


/* catalog filter */

.filters {
  width: 220px;
}

.form__heading {
  font-family: "PT Sans", Arial, sans-serif;
  font-size: 13px;
  font-weight: var(--font-weight);
  color: var(--basic-black);
  text-transform: uppercase;
  background-color: var(--beige-catalog);
  padding-top: 12px;
  padding-bottom: 12px;
  padding-left: 18px;
  padding-right: 140px;
  margin-top: 0px;
  margin-bottom: 14px;
}

.filter fieldset {
  border: none;
  padding: 0px;
  margin: 0px;
  margin-bottom: 15px;
}

.filter fieldset:nth-child(3) {
  margin-bottom: 18px;
}

.filter fieldset {
  border-bottom: 1px solid var(--grey-button-border);
}

.filter fieldset:nth-child(4) {
  border: none;
  margin-bottom: 10px;
}

.filter legend {
  font-family: "PT Sans", Arial, sans-serif;
  font-size: 17px;
  line-height: 30px;
  font-weight: var(--font-weight-more);
  color: var(--basic-black);
  text-transform: uppercase;
  margin-bottom: 10px;
}

.range-filter {
  width: 220px;
  padding-bottom: 25px;
}

.range-controls {
  position: relative;
  height: 41px;
  background-color: var(--beige-catalog);
  border-radius: 5px;
  margin-bottom: 10px;
  padding-top: 39px;
  padding-right: 20px;
  padding-left: 20px;
}

.range-controls .scale {
  height: 2px;
  background-color: var(--grey-range);
}

.range-controls .bar {
  width: 80%;
  height: 2px;
  background-color: var(--green-bar);
}

.range-controls .toggle {
  position: absolute;
  top: 29px;
  left: 0;
  width: 4px;
  height: 4px;
  padding: 0;
  border: 8px solid var(--basic-white);
  border-radius: 50%;
  background-color: var(--grey-filter-price);
  box-shadow: 0 2px 1px 0 var(--toggle-shadow);
  cursor: pointer;
}

.range-controls .toggle:focus {
  outline: thin dotted var(--grey-checkbox-and-icon-hover);
}

.range-controls .toggle-min {
  left: 19px;
}

.range-controls .toggle-max {
  left: 160px;
}

.price-controls {
  display: flex;
  justify-content: flex-start;
}

.price-controls input {
  font-family: "PT Sans", Arial, sans-serif;
  font-size: 17px;
  line-height: 18px;
  font-weight: var(--font-weight);
  color: var(--basic-black);
  text-align: left;
  width: 95px;
  padding-top: 9px;
  padding-bottom: 10px;
  border-radius: 5px;
  background-color: var(--beige-catalog);
  border: none;
}

.price-controls input:focus {
  outline: thin dotted var(--grey-checkbox-and-icon-hover);
}

.price-controls input[name="min-price"] {
  width: 53px;
  padding-left: 42px;
  margin-right: 8px;
}

.price-controls input[name="max-price"] {
  width: 61px;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 26px;
  padding-right: 8px;
  margin-left: 8px;
}

.filter__list {
  list-style: none;
  margin: 0;
  padding: 0;
  padding-bottom: 16px;
}

.filter__option {
  font-family: "PT Sans", Arial, sans-serif;
  font-size: 15px;
  line-height: 19px;
  font-weight: var(--font-weight);
  color: var(--basic-black);
  text-transform: uppercase;
  padding-top: 10px;
  padding-left: 35px;
  margin-bottom: 10px;
}

.filter-radio {
  padding-top: 13px;
}

.filter__option label {
  display: block;
  position: relative;
  cursor: pointer;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
}

.filter-input-checkbox + label::before {
  content: "";
  position: absolute;
  width: 19px;
  height: 19px;
  top: -4px;
  left: -35px;
  border: 2px solid var(--grey-checkbox-and-icon);
  border-radius: 20%;
}

.filter-input-checkbox:checked + label::after {
  content: "";
  position: absolute;
  width: 22px;
  height: 17px;
  top: -4px;
  left: -31px;
  background-image: url("../img/checkbox.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
}

.filter-input-checkbox:hover + label::before {
  border: 2px solid var(--grey-checkbox-and-icon-hover);
}

.filter-input-checkbox:focus + label::before {
  border: 4px solid var(--grey-checkbox-and-icon-hover);
  outline: thin dotted var(--grey-checkbox-and-icon-hover);
}

.filter-input-checkbox:checked:hover + label::after {
  background-image: url("../img/checkbox-hover.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
}

.filter-input-radio + label::before {
  content: "";
  position: absolute;
  width: 17px;
  height: 17px;
  top: -2px;
  left: -35px;
  border: 4px solid var(--grey-checkbox-and-icon);
  border-radius: 50%;
}

.filter-input-radio:checked + label::after {
  content: "";
  position: absolute;
  width: 9px;
  height: 9px;
  top: 6px;
  left: -27px;
  background-color: var(--grey-checkbox-and-icon);
  border-radius: 50%;
}

.filter-input-radio:hover + label::before {
  border: 4px solid var(--grey-checkbox-and-icon-hover);
}

.filter-input-radio:focus + label::before {
  border: 4px solid var(--grey-checkbox-and-icon-hover);
  outline: thin dotted var(--grey-checkbox-and-icon-hover);
}

.filter-input-radio:checked:hover + label::after {
  background-color: var(--grey-checkbox-and-icon-hover);
}


.filter-input-checkbox:disabled + label, .filter-input-checkbox:checked:disabled + label,
.filter-input-checkbox:disabled:hover + label, .filter-input-checkbox:disabled:focus + label,
.filter-input-radio:disabled + label, .filter-input-radio:checked:disabled + label,
.filter-input-radio:disabled:hover + label, .filter-input-radio:disabled:focus + label {
  pointer-events: none;
  opacity: 0.3;
}

.filter__button {
  display: inline-block;
  vertical-align: middle;
  padding: 10px 79px;
  font-family: "PT Sans", Arial, sans-serif;
  font-size: 13px;
  line-height: 18px;
  font-weight: var(--font-weight);
  color: var(--basic-black);
  text-transform: uppercase;
  text-align: center;
  border: 1px solid var(--grey-button-border);
  background-color: var(--basic-white);
}

.filter__button:focus {
  outline: thin dotted var(--grey-checkbox-and-icon-hover);
}


/* catalog pagination */

.pagination {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  margin: 0px;
  padding: 0px;
}

.pagination__item {
  margin-right: 11px;
}

.pagination__item:last-child {
  margin-right: 0;
}

.pagination__item a {
  display: block;
  padding: 9px 14px;
  font-family: "PT Sans", Arial, sans-serif;
  font-size: 13px;
  line-height: 18px;
  font-weight: var(--font-weight);
  color: var(--basic-black);
  text-transform: uppercase;
  text-align: center;
  border: 1px solid var(--grey-button-border);
}

.pagination__item:last-child a {
  padding: 9px 30px;
}

.pagination__item a:hover {
  border: 1px solid var(--grey-checkbox-and-icon);
}

.pagination__item a:focus {
  border: 1px solid var(--basic-red);
}

.pagination__item a:active, .current-page-number a {
  background-color: var(--basic-red);
  color: var(--basic-white);
}

/* footer */

.main-footer__content {
  display: grid;
  grid-template-rows: auto auto;
  padding-bottom: 54px;
  background-color: var(--dark-blue);
}

.catalog-main-footer__content {
  padding-bottom: 53px;
}

.footer-nav__wrapper {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  margin-bottom: 7px;
}


.footer__logo-link {
  display: block;
  width: 138px;
  padding-top: 21px;
  padding-left: 41px;
  padding-bottom: 21px;
  padding-right: 41px;
  margin-right: 173px;
  background-color: var(--basic-red);
  box-shadow: inset 0px -5px 0px var(--grey-box-shadow);
}

.footer-nav {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  width: 547px;
  list-style: none;
  margin: 0;
  padding: 0;
  padding-top: 33px;
}

.footer-nav__item {
  margin-right: 58px;
}

.footer-nav__item:nth-child(2) {
  margin-right: 59px;
}

.footer-nav__item:nth-child(3) {
  margin-right: 59px;
}

.footer-nav__item:nth-child(4) {
  margin-right: 59px;
}

.footer-nav__item:nth-child(5n) {
  margin-right: 0px;
}

.footer-nav__link {
  display: block;
  font-size: 18px;
  line-height: 24px;
  font-weight: var(--font-weight);
  color: var(--grey-services);
}

.footer-menu__wrapper {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}

.footer__address-wrapper {
  margin-right: 91px;
  padding-left: 3px;
}

.catalog-footer__address-wrapper {
  margin-right: 94px;
  padding-left: 3px;
}

.footer__address, .footer__link--tel {
  font-size: 18px;
  line-height: 21px;
  font-weight: var(--font-weight);
  color: var(--grey-services);
}

.footer__address {
  margin-bottom: 0px;
}

.catalog-footer__address {
  margin-top: 16px;
  margin-bottom: 2px;
}

.footer__link--tel {
  display: block;
  line-height: 25px;
}

.footer-menu__list {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  width: 522px;
  list-style: none;
  margin: 0;
  padding: 0;
}

.footer-menu__link {
  display: block;
  font-size: 18px;
  line-height: 24px;
  font-weight: var(--font-weight);
  color: var(--yellow-menu);
}

.footer-menu__item {
  margin-right: 58px;
}

.footer-menu__item:nth-child(2) {
  margin-right: 61px;
}

.footer-menu__item:nth-child(3) {
  margin-right: 57px;
}

.footer-menu__item:nth-child(4n) {
  margin-right: 0px;
}

.catalog-footer-menu__item {
  margin-right: 59px;
}

.catalog-footer-menu__item:nth-child(3)  {
  margin-right: 56px;
}

.footer-nav__link:hover, .footer-menu__link:hover, .feedback__link:hover, .developed__link:hover {
  text-decoration: underline;
}

.footer-nav__link:focus, .footer-menu__link:focus {
  text-decoration: none;
  opacity: 0.5;
}

.main-footer__copy {
  background-color: var(--darker-blue);
}

.footer-copy-wrapper {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-wrap: wrap;
  padding-top: 20px;
  padding-bottom: 29px;
}

.copy__text-wrapper {
  width: 227px;
  margin-right: 163px;
}

.copy__text, .copy__feedback, .copy__developed {
  font-size: 16px;
  line-height: 18px;
  font-weight: var(--font-weight);
  color: var(--basic-white);
}

.socials__list {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  width: 134px;
  list-style: none;
  margin: 0;
  padding: 0;
  margin-right: 116px;
  padding-top: 3px;
}

.socials__item {
  margin-right: 4px;
}

.socials__item:nth-child(3n) {
  margin-right: 0px;
}

.socials__link {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  width: 41px;
  height: 41px;
  border-radius: 50%;
  background-color: var(--extra-dark-blue);
}

.socials__link:hover, .socials__link:focus {
  background-color: var(--basic-red);
}

.socials__link--vkontakte {
  background-image: url("../img/icon-vk.svg");
  background-repeat: no-repeat;
  background-position: center;
}

.socials__link--facebook {
  background-image: url("../img/icon-fb.svg");
  background-repeat: no-repeat;
  background-position: center;
}

.socials__link--instagram {
  background-image: url("../img/icon-insta.svg");
  background-repeat: no-repeat;
  background-position: center;
}

.copy-feedback__wrapper {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  width: 300px;
}

.copy__feedback {
  margin-right: 50px;
  width: 137px;
}

.copy__developed {
  margin-right: 13px;
  width: 98px;
}

.feedback__link, .developed__link {
  color: var(--yellow-menu);
}

.feedback__link:focus, .developed__link:focus {
  text-decoration: none;
  color: var(--basic-red);
}

/* modal */

.modal {
  position: fixed;
  display: none;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto;
  box-shadow: 0 0 10px 2px rgba(0, 0, 0, 0.1);
  background-color: var(--basic-white);
  border-top: 7px solid var(--basic-red);
  z-index: 2;
}

.modal-show {
  display: block;
}

.modal-close {
  position: absolute;
  border: none;
  width: 22px;
  height: 22px;
  top: 13px;
  right: 13px;
  cursor: pointer;
  background-color: transparent;
}

.modal-close::before, .modal-close::after {
  position: absolute;
  content: "";
  background-color: var(--basic-red);
  width: 25px;
  height: 3px;
  top: 10px;
  left: 1px;
  right: 10px;
  cursor: pointer;
}

.modal-close::before {
  transform: rotate(45deg);
}

.modal-close::after {
  transform: rotate(-45deg);
}

/* modal message */

.modal-message {
  width: 620px;
  top: 100px;
  bottom: auto;
}

.modal-message-form-wrapper {
  display: flex;
  flex-wrap: wrap;
  width: 460px;
  padding-top: 40px;
  padding-bottom: 33px;
  padding-left: 80px;
  padding-right: 80px;
}

.modal-message__item {
  margin: 0px;
}

.modal-message__item label {
  display: block;
  font-family: "Cuprum", Arial, sans-serif;
  font-size: 18px;
  line-height: 24px;
  color: var(--basic-black);
  margin-bottom: 10px;
}

.modal-message__item input {
  width: 202px;
  padding-top: 7px;
  padding-bottom: 9px;
  padding-left: 11px;
  margin-bottom: 14px;
  border-radius: 2px;
  border: 2px solid var(--grey-del);
}

.modal-message__item input::-webkit-input-placeholder, .modal-message__item textarea::-webkit-input-placeholder {
  font-family: "PT Sans", Arial, sans-serif;
  font-size: 13px;
  line-height: 24px;
  color: var(--grey-del);
}

.modal-message__item input::-moz-placeholder, .modal-message__item textarea::-moz-placeholder {
  font-family: "PT Sans", Arial, sans-serif;
  font-size: 13px;
  line-height: 24px;
  color: var(--grey-del);
}

.modal-message__item input::placeholder, .modal-message__item textarea::placeholder {
  font-family: "PT Sans", Arial, sans-serif;
  font-size: 13px;
  line-height: 24px;
  color: var(--grey-del);
}

.modal-message__item input[type="text"] {
  margin-right: 21px;
}

.modal-message__item textarea {
  width: 443px;
  padding-top: 4px;
  padding-left: 10px;
  padding-bottom: 16px;
  border-radius: 2px;
  border: 2px solid var(--grey-del);
}


.modal-message-link-wrapper {
  padding-top: 38px;
  padding-bottom: 36px;
  background-color: var(--grey-modal-cart);
}

.modal-message-link-wrapper button {
  display: inline-block;
  vertical-align: middle;
  width: 460px;
  padding: 10px 0px;
  font-family: "Cuprum", Arial, sans-serif;
  font-size: 14px;
  line-height: 18px;
  color: var(--basic-white);
  text-transform: uppercase;
  text-align: center;
  border: none;
  margin-left: 80px;
  background-color: var(--basic-red);
}

.modal-message-link-wrapper button:hover {
  background-color: var(--darker-red);
}

.modal-message-link-wrapper button:focus {
  background-color: var(--dark-red);
}

@-webkit-keyframes shake {
  0%, 100% { transform: translateX(0);}
  10%, 30%, 50%, 70%, 90% { transform: translateX(-10px);}
  20%, 40%, 60%, 80% { transform: translateX(10px);}
}

@keyframes shake {
  0%, 100% { transform: translateX(0);}
  10%, 30%, 50%, 70%, 90% { transform: translateX(-10px);}
  20%, 40%, 60%, 80% { transform: translateX(10px);}
}

.modal-error {
  -webkit-animation-name: shake;
          animation-name: shake;
  -webkit-animation-duration: 0.6s;
          animation-duration: 0.6s;
}

/* modal map */

.modal-map {
  width: 943px;
  top: 100px;
  height: 442px;
  bottom: auto;
}

.modal-map iframe {
  border: none;
}

.modal-map .modal-close::before, .modal-map .modal-close::after {
  top: 6px;
  left: 2px;
}


/* modal cart */

.modal-cart {
  width: 620px;
  top: 300px;
  bottom: auto;
}

.modal-cart h3 {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Cuprum", Arial, sans-serif;
  font-size: 24px;
  line-height: 30px;
  font-weight: bold;
  padding-left: 99px;
  padding-right: 100px;
  padding-top: 67px;
  padding-bottom: 66px;
  margin: 0px;
}

.modal-cart h3::before {
  content: "";
  position: absolute;
  width: 66px;
  height: 66px;
  left: 80px;
  top: 49px;
  border-radius: 50%;
  background-color: var(--basic-green);
  background-image: url("../img/check-mark.svg");
  background-repeat: no-repeat;
  background-position: 55% 50%;
}

.modal-cart-wrapper {
  background-color: var(--grey-modal-cart);
  padding-top: 37px;
  padding-bottom: 37px;
  padding-left: 113px;
}

.modal-cart-link-wrapper {
  display: flex;
}

.modal-cart__link {
  display: block;
  width: 192px;
  padding-top: 11px;
  padding-bottom: 9px;
  padding-left: 2px;
  font-family: "Cuprum", Arial, sans-serif;
  font-size: 14px;
  line-height: 18px;
  text-transform: uppercase;
  text-align: center;
}

.modal-cart__link--checkout {
  background-color: var(--basic-red);
  color: var(--basic-white);
  margin-right: 10px;
}

.modal-cart__link--continue {
  background-color: var(--basic-white);
  color: var(--basic-black);
  padding-left: 0px;
}

.modal-cart .modal-close::before, .modal-cart .modal-close::after {
  top: 7px;
}
